:root {
  --bg: #F1F3FE;
  --text: #6B7280;
  --accent: #6C63FF;
  --card: #bbc1d4ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  height: 100vh;
}

/* LEFT PALETTE */
.sidebar {
  width: 150px;
  background: #2e3541;
  padding: 10px;
  overflow-y: auto;
}

.palette {
  background: #44436885;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.palette span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* MAIN CONTENT */
.main {
  flex: 1;
  padding: 60px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  max-width: 480px;
  line-height: 1.6;
}

.card {
  margin-top: 40px;
  background: var(--card);
  padding: 30px;
  border-radius: 20px;
}

button {
  background: var(--accent);
  border: none;
  padding: 14px 24px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* SIDEBAR TITLE */
.sidebar-title {
  background: #44436885;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
}

/* AVATARS */
.avatars {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.avatars img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.avatars img:hover {
  border-color: var(--accent);
}

/* TOP RIGHT PROFILE */
#top-avatar {
  position: fixed;
  top: 40px;
  right: 60px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 3px solid var(--accent);
  background: #fff;
}

/* CLOSE BUTTON */
.close-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 42px;
    height: 42px;
    background: var(--accent);
    border-radius: 50%;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(108, 99, 255, .4);
    transition: all .2s ease;
    z-index: 1000;
}
.close-btn:hover {
  background: #554ee6;
  transform: scale(1.1);
}